<a href="https://colab.research.google.com/github/nervaljunior/AI-SolverNet-Deep-Learning-for-Dataset/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import random

In [13]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
df_treinamento_supervisionado = pd.read_csv('/content/drive/MyDrive/IA/TRABALHO/Base_Treinamento_Supervisionado.csv',encoding="ISO-8859-1",sep=";")
df_treinamento_supervisionado.head()

,Município,IFGF,Total de receitas realizadas (R$x1000),Total de despesas empenhadas (R$x1000),IDHm,PIB per capita,Percentual das receitas oriundas de fontes externas (%),Área territorial,População,Pessoal ocupado,Percentual população ocupada,Área Urbanizada,Salário Médio dos trabalhadores (xSalário mínimo),Matrículas no ensino fundamental,Matrículas no ensino médio,Docentes no ensino fundamental,Docentes no ensino médio,Mortalidade Infantil
0,Açailândia,"0,6772","276417,09","247664,14","0,672","23683,22","74,8",5805159,113783,16354,"14,5","28,63","2,2",16830,4379,771,274,"13,04"
1,Altamira do Maranhão,"0,2418","28548,43","24977,85","0,549","7512,63","97,6",524374,8250,326,4,"1,45","1,9",1140,234,111,8,NaN
2,Alto Alegre do Pindaré,"0,387","70794,78","68523,7","0,558","7221,77","90,2",1875901,31967,1260,"3,9","5,52","1,9",5014,1592,325,107,"20,45"
3,Alto Parnaíba,"0,4069","34241,63","32154,06","0,633","43877,65","94,8",11127384,11233,1165,"10,4","3,07","1,8",1861,333,130,14,"20,94"
4,Amarante do Maranhão,"0,3227","74474,98","67136,51","0,555","8010,3","95,9",7439615,42017,1592,"3,8","9,44","1,7",7290,1370,556,116,"17,83"

In [27]:
df_base_de_dados = pd.read_csv('/content/drive/MyDrive/IA/TRABALHO/base_de_avaliacao.csv',sep=";")
df_base_de_dados.head()

,Município,IFGF,Total de receitas realizadas (R$x1000),Total de despesas empenhadas (R$x1000),IDHm,PIB per capita,Percentual das receitas oriundas de fontes externas (%),Área territorial,População,Pessoal ocupado,Percentual população ocupada,Área Urbanizada,Salário Médio dos trabalhadores (xSalário mínimo),Matrículas no ensino fundamental,Matrículas no ensino médio,Docentes no ensino fundamental,Docentes no ensino médio,Mortalidade Infantil
0,Alto Alegre do Maranhão,?,"48180,12","47273,24","0,554","8770,52","95,4",392750,28066,978,"3,5","6,56","1,5",4260,1166,276,46,"15,11"
1,Arame,?,"69273,85","71709,47","0,521","5902,11",NaN,1789730,47095,2146,"4,6","9,38","2,1",6620,1450,446,78,"12,68"
2,Barão de Grajaú,?,"39740,96","40114,7","0,592","11816,72","97,5",2209414,19026,1581,"8,4","5,19","1,6",2571,735,190,52,"14,98"
3,Cajari,?,"41227,11","34447,37","0,523","5748,61","98,5",662066,19521,642,"3,3","2,04","1,7",3413,673,311,26,"19,61"
4,Conceição do Lago-Açu,?,"35309,92","33722,37","0,512","8146,21","99,1",725664,16559,787,"4,8","2,28","2,4",3428,423,260,17,"20,75"

# Nesse trabalho iremos desenvolver uma rede neural para solucionar o problema da cadeira de inteligencia Artificial