<a href="https://colab.research.google.com/github/nervaljunior/AI-SolverNet-Deep-Learning-for-Dataset/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import random

In [3]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df_treinamento_supervisionado = pd.read_csv('/content/drive/MyDrive/IA/TRABALHO/Base_Treinamento_Supervisionado.csv', encoding="ISO-8859-1",sep=";")
df_treinamento_supervisionado.tail()

,Município,IFGF,Total de receitas realizadas (R$x1000),Total de despesas empenhadas (R$x1000),IDHm,PIB per capita,Percentual das receitas oriundas de fontes externas (%),Área territorial,População,Pessoal ocupado,Percentual população ocupada,Área Urbanizada,Salário Médio dos trabalhadores (xSalário mínimo),Matrículas no ensino fundamental,Matrículas no ensino médio,Docentes no ensino fundamental,Docentes no ensino médio,Mortalidade Infantil
166,Vargem Grande,"0,297","95867,34","92155,89","0,542","6630,45",NaN,1958702,57813,2575,"4,5","7,96",2,8200,1740,346,136,"9,78"
167,Viana,"0,3078","92120,11","89952,74","0,618","8663,99","94,8",1166745,52852,2521,"4,8","8,8","1,9",8708,2298,511,94,"14,07"
168,Vitória do Mearim,"0,433","92120,11","60752,47","0,596","7895,55","91,5",716719,32956,1558,"4,7","6,4","1,9",5296,1685,361,72,"10,89"
169,Vitorino Freire,"0,3137","92120,11","62014,71","0,57","8444,18",NaN,1193385,31520,2098,"6,7","6,57",2,4563,1367,375,67,"16,24"
170,Zé Doca,"0,5691","92120,11","84989,72","0,595","8779,78","96,2",2140109,52190,3225,"6,2","11,31","1,7",7021,1852,483,154,"19,89"

In [5]:
df_treinamento_supervisionado['IFGF'].replace(',','.',regex=True)

0      0.6772
1      0.2418
2       0.387
3      0.4069
4      0.3227
        ...
166     0.297
167    0.3078
168     0.433
169    0.3137
170    0.5691
Name: IFGF, Length: 171, dtype: object

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
df_base_de_dados = pd.read_csv('/content/drive/MyDrive/IA/TRABALHO/base_de_avaliacao.csv',sep=";")
df_base_de_dados.head()

,Município,IFGF,Total de receitas realizadas (R$x1000),Total de despesas empenhadas (R$x1000),IDHm,PIB per capita,Percentual das receitas oriundas de fontes externas (%),Área territorial,População,Pessoal ocupado,Percentual população ocupada,Área Urbanizada,Salário Médio dos trabalhadores (xSalário mínimo),Matrículas no ensino fundamental,Matrículas no ensino médio,Docentes no ensino fundamental,Docentes no ensino médio,Mortalidade Infantil
0,Alto Alegre do Maranhão,?,"48180,12","47273,24","0,554","8770,52","95,4",392750,28066,978,"3,5","6,56","1,5",4260,1166,276,46,"15,11"
1,Arame,?,"69273,85","71709,47","0,521","5902,11",NaN,1789730,47095,2146,"4,6","9,38","2,1",6620,1450,446,78,"12,68"
2,Barão de Grajaú,?,"39740,96","40114,7","0,592","11816,72","97,5",2209414,19026,1581,"8,4","5,19","1,6",2571,735,190,52,"14,98"
3,Cajari,?,"41227,11","34447,37","0,523","5748,61","98,5",662066,19521,642,"3,3","2,04","1,7",3413,673,311,26,"19,61"
4,Conceição do Lago-Açu,?,"35309,92","33722,37","0,512","8146,21","99,1",725664,16559,787,"4,8","2,28","2,4",3428,423,260,17,"20,75"

In [8]:
import tensorflow as tf

# Inteligência Artificial
## Trabalho Final 2023.1

### Nesse trabalho iremos desenvolver uma rede neural para solucionar o problema da cadeira de inteligencia Artificial

➢ A base de dados é do Índice Firjan, que é composto por quatro indicadores que
representam o quanto um município está sendo bem administrado:

➢ Autonomia, que é a capacidade de financiar a estrutura administrativa;

➢ Gastos com Pessoal, que significa o grau de rigidez do orçamento;

➢ Liquidez, que trata do cumprimento das obrigações financeiras das prefeituras;

➢ Investimentos, que é a capacidade de gerar bem-estar e competitividade.

➢ Acompanham os dados do Índice Firjan informações geopolíticas e econômicas de
cada município.

O índice varia entre 0 e 1 e quanto maior, melhor é a gestão fiscal do
município.

➢ Cada cidade é classificada com conceitos:

➢ A (Gestão de Excelência, acima de 0,8001 pontos),

➢ B (Boa Gestão, entre 0,6001 e 0,8),

➢ C (Gestão em Dificuldade, entre 0,4001 e 0,6) ou

➢ D (Gestão Crítica, inferiores a 0,4 pontos)

# Objetivo
* Seu objetivo é, a partir da “base de treino supervisionado”, criar um modelo de
classificação para identificar municípios que estão em nível de Gestão Crítica (D).

* Após a criação do modelo, aplique-o sobre a “base de avaliação” e defina quais
municípios estão em situação de gestão crítica

# Classificadores
### Cada grupo deverá escolher um dos seguintes algoritmos de aprendizagem para utilizar no trabalho:

* K-Means
* K-Nearest Neighbor (KNN)
* Regressão Linear
* Regressão Logística
* Árvore de Decisão
* Naïve Bayes
* Suport Vector Machine (SVM)
* Redes Neurais

# Seminário e Relatório
### Montem um seminário sobre o classificador escolhido, explicando seu funcionamento e os principais parâmetros que devem ser configurados. O seminário deve ter no máximo 15 minutos de duração.
### Por fim, apresente o resultado da classificação das instâncias desconhecidas, criando um relatório de como foram realizadas as etapas de criação de modelo de classificação, treino, teste, parametrização, e o que mais for importante para o entendimento

# Ferramentas
### Utilize uma das ferramentas para realizar os experimentos:
- Laws Miner: https://alexandreronald.shinyapps.io/LawsMiner/
- WEKA: https://www.cs.waikato.ac.nz/ml/weka/
- R: https://www.r-project.org/
- Orange: https://orangedatamining.com/
- SciKit Learn: https://scikit-learn.org/stable/
- Ou faça sua própria implementação.

# Código louco

In [9]:
import tensorflow as tf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
data_full = pd.read_csv('/content/drive/MyDrive/IA/TRABALHO/Base_Treinamento_Supervisionado.csv', encoding="ISO-8859-1",sep=";")

In [13]:
# numero de colunas, numero de linhas
data_full.shape[1], data_full.shape[0]

(18, 171)

In [14]:
# listar colunas
data_full.columns.tolist()

['Município',
 'IFGF',
 'Total de receitas realizadas (R$x1000)',
 'Total de despesas empenhadas (R$x1000)',
 'IDHm',
 'PIB per capita',
 'Percentual das receitas oriundas de fontes externas (%)',
 'Área territorial',
 'População',
 'Pessoal ocupado',
 'Percentual população ocupada',
 'Área Urbanizada',
 'Salário Médio dos trabalhadores (xSalário mínimo)',
 'Matrículas no ensino fundamental',
 'Matrículas no ensino médio',
 'Docentes no ensino fundamental',
 'Docentes no ensino médio',
 'Mortalidade Infantil']

In [15]:
# Criar um novo DataFrame apenas com a coluna 'IFGF'
data_ifgf = data_full[['IFGF']].copy()

# Excluir a coluna 'IFGF' e município  do dataset_full
data_full.drop('IFGF', axis=1, inplace=True)
data_full.drop('Município', axis=1, inplace=True)

In [16]:
data_full.shape

(171, 16)

## Normalização dos dados

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
# Criar um objeto MinMaxScaler
scaler = MinMaxScaler()

In [19]:
# Substituir vírgulas por pontos em todas as colunas
data_full = data_full.replace(',', '.', regex=True)

# Converter todas as colunas para tipo float
data_full = data_full.astype(float)

In [20]:
# Normalizar os dados do DataFrame
data_full = scaler.fit_transform(data_full)

## Criar rede neural

In [21]:
from tensorflow.keras import layers

model = tf.keras.Sequential()
model.add(layers.Dense(64, activation='relu', input_shape=(171,)))  # Adjust input_dim to your input dimension
model.add(layers.Dense(1, activation='sigmoid'))  # Output layer with sigmoid activation

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy')

In [22]:
model.fit(x_train, epochs=5, validation_data=y_train)

NameError: ignored