<a href="https://colab.research.google.com/github/nervaljunior/AI-SolverNet-Deep-Learning-for-Dataset/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import random

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_treinamento_supervisionado = pd.read_csv('/content/drive/MyDrive/IA/TRABALHO/Base_Treinamento_Supervisionado.csv', encoding="ISO-8859-1",sep=";")
df_treinamento_supervisionado.tail()

,Município,IFGF,Total de receitas realizadas (R$x1000),Total de despesas empenhadas (R$x1000),IDHm,PIB per capita,Percentual das receitas oriundas de fontes externas (%),Área territorial,População,Pessoal ocupado,Percentual população ocupada,Área Urbanizada,Salário Médio dos trabalhadores (xSalário mínimo),Matrículas no ensino fundamental,Matrículas no ensino médio,Docentes no ensino fundamental,Docentes no ensino médio,Mortalidade Infantil
166,Vargem Grande,"0,297","95867,34","92155,89","0,542","6630,45",NaN,1958702,57813,2575,"4,5","7,96",2,8200,1740,346,136,"9,78"
167,Viana,"0,3078","92120,11","89952,74","0,618","8663,99","94,8",1166745,52852,2521,"4,8","8,8","1,9",8708,2298,511,94,"14,07"
168,Vitória do Mearim,"0,433","92120,11","60752,47","0,596","7895,55","91,5",716719,32956,1558,"4,7","6,4","1,9",5296,1685,361,72,"10,89"
169,Vitorino Freire,"0,3137","92120,11","62014,71","0,57","8444,18",NaN,1193385,31520,2098,"6,7","6,57",2,4563,1367,375,67,"16,24"
170,Zé Doca,"0,5691","92120,11","84989,72","0,595","8779,78","96,2",2140109,52190,3225,"6,2","11,31","1,7",7021,1852,483,154,"19,89"

In [ ]:
df_treinamento_supervisionado['IFGF'].replace(',','.',regex=True)

0      0.6772
1      0.2418
2       0.387
3      0.4069
4      0.3227
        ...
166     0.297
167    0.3078
168     0.433
169    0.3137
170    0.5691
Name: IFGF, Length: 171, dtype: object

In [ ]:
df_base_de_dados = pd.read_csv('/content/drive/MyDrive/IA/TRABALHO/base_de_avaliacao.csv',sep=";")
df_base_de_dados.head()

FileNotFoundError: ignored

In [ ]:
import tensorflow as tf

# Inteligência Artificial
## Trabalho Final 2023.1

### Nesse trabalho iremos desenvolver uma rede neural para solucionar o problema da cadeira de inteligencia Artificial

➢ A base de dados é do Índice Firjan, que é composto por quatro indicadores que
representam o quanto um município está sendo bem administrado:

➢ Autonomia, que é a capacidade de financiar a estrutura administrativa;

➢ Gastos com Pessoal, que significa o grau de rigidez do orçamento;

➢ Liquidez, que trata do cumprimento das obrigações financeiras das prefeituras;

➢ Investimentos, que é a capacidade de gerar bem-estar e competitividade.

➢ Acompanham os dados do Índice Firjan informações geopolíticas e econômicas de
cada município.

O índice varia entre 0 e 1 e quanto maior, melhor é a gestão fiscal do
município.

➢ Cada cidade é classificada com conceitos:

➢ A (Gestão de Excelência, acima de 0,8001 pontos),

➢ B (Boa Gestão, entre 0,6001 e 0,8),

➢ C (Gestão em Dificuldade, entre 0,4001 e 0,6) ou

➢ D (Gestão Crítica, inferiores a 0,4 pontos)

# Objetivo
* Seu objetivo é, a partir da “base de treino supervisionado”, criar um modelo de
classificação para identificar municípios que estão em nível de Gestão Crítica (D).

* Após a criação do modelo, aplique-o sobre a “base de avaliação” e defina quais
municípios estão em situação de gestão crítica

# Classificadores
### Cada grupo deverá escolher um dos seguintes algoritmos de aprendizagem para utilizar no trabalho:

* K-Means
* K-Nearest Neighbor (KNN)
* Regressão Linear
* Regressão Logística
* Árvore de Decisão
* Naïve Bayes
* Suport Vector Machine (SVM)
* Redes Neurais

# Seminário e Relatório
### Montem um seminário sobre o classificador escolhido, explicando seu funcionamento e os principais parâmetros que devem ser configurados. O seminário deve ter no máximo 15 minutos de duração.
### Por fim, apresente o resultado da classificação das instâncias desconhecidas, criando um relatório de como foram realizadas as etapas de criação de modelo de classificação, treino, teste, parametrização, e o que mais for importante para o entendimento

# Ferramentas
### Utilize uma das ferramentas para realizar os experimentos:
- Laws Miner: https://alexandreronald.shinyapps.io/LawsMiner/
- WEKA: https://www.cs.waikato.ac.nz/ml/weka/
- R: https://www.r-project.org/
- Orange: https://orangedatamining.com/
- SciKit Learn: https://scikit-learn.org/stable/
- Ou faça sua própria implementação.

# Código louco

In [ ]:
%tensorflow_version 2.x
import tensorflow as tf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

In [ ]:
 treino = pd.read_csv('/content/drive/MyDrive/IA/Base_Treinamento_Supervisionado.csv', encoding="ISO-8859-1",sep=";")

 treino

,Município,IFGF,Total de receitas realizadas (R$x1000),Total de despesas empenhadas (R$x1000),IDHm,PIB per capita,Percentual das receitas oriundas de fontes externas (%),Área territorial,População,Pessoal ocupado,Percentual população ocupada,Área Urbanizada,Salário Médio dos trabalhadores (xSalário mínimo),Matrículas no ensino fundamental,Matrículas no ensino médio,Docentes no ensino fundamental,Docentes no ensino médio,Mortalidade Infantil
0,Açailândia,"0,6772","276417,09","247664,14","0,672","23683,22","74,8",5805159,113783,16354,"14,5","28,63","2,2",16830,4379,771,274,"13,04"
1,Altamira do Maranhão,"0,2418","28548,43","24977,85","0,549","7512,63","97,6",524374,8250,326,4,"1,45","1,9",1140,234,111,8,NaN
2,Alto Alegre do Pindaré,"0,387","70794,78","68523,7","0,558","7221,77","90,2",1875901,31967,1260,"3,9","5,52","1,9",5014,1592,325,107,"20,45"
3,Alto Parnaíba,"0,4069","34241,63","32154,06","0,633","43877,65","94,8",11127384,11233,1165,"10,4","3,07","1,8",1861,333,130,14,"20,94"
4,Amarante do Maranhão,"0,3227","74474,98","67136,51","0,555","8010,3","95,9",7439615,42017,1592,"3,8","9,44","1,7",7290,1370,556,116,"17,83"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,Vargem Grande,"0,297","95867,34","92155,89","0,542","6630,45",NaN,1958702,57813,2575,"4,5","7,96",2,8200,1740,346,136,"9,78"
167,Viana,"0,3078","92120,11","89952,74","0,618","8663,99","94,8",1166745,52852,2521,"4,8","8,8","1,9",8708,2298,511,94,"14,07"
168,Vitória do Mearim,"0,433","92120,11","60752,47","0,596","7895,55","91,5",716719,32956,1558,"4,7","6,4","1,9",5296,1685,361,72,"10,89"
169,Vitorino Freire,"0,3137","92120,11","62014,71","0,57","8444,18",NaN,1193385,31520,2098,"6,7","6,57",2,4563,1367,375,67,"16,24"
170,Zé Doca,"0,5691","92120,11","84989,72","0,595","8779,78","96,2",2140109,52190,3225,"6,2","11,31","1,7",7021,1852,483,154,"19,89"

In [ ]:

treino = treino.replace(',', '.', regex=True)

# Save the modified DataFrame to a new CSV file
treino.to_csv('/content/drive/MyDrive/IA/dataset_ia.csv', index=False)

In [ ]:
count = 0
for i in treino['IFGF']:
  x,y = i.split(',')
  number = x + "." + y
  if float(number) < 0.4:
    count += 1

count


# len(list(filter(lambda x: x < 0.4, treino['IFGF'].replace(',','.').astype(float) )))

114

In [ ]:
features = treino.drop('IFGF', axis=1).replace(',','.',regex=True)  # Adjust column name if necessary
target = treino['IFGF'].replace(',','.',regex=True)

In [ ]:
features

,Total de receitas realizadas (R$x1000),Total de despesas empenhadas (R$x1000),IDHm,PIB per capita,Percentual das receitas oriundas de fontes externas (%),Área territorial,População,Pessoal ocupado,Percentual população ocupada,Área Urbanizada,Salário Médio dos trabalhadores (xSalário mínimo),Matrículas no ensino fundamental,Matrículas no ensino médio,Docentes no ensino fundamental,Docentes no ensino médio,Mortalidade Infantil
0,276417.09,247664.14,0.672,23683.22,74.8,5805159,113783,16354,14.5,28.63,2.2,16830,4379,771,274,13.04
1,28548.43,24977.85,0.549,7512.63,97.6,524374,8250,326,4,1.45,1.9,1140,234,111,8,NaN
2,70794.78,68523.7,0.558,7221.77,90.2,1875901,31967,1260,3.9,5.52,1.9,5014,1592,325,107,20.45
3,34241.63,32154.06,0.633,43877.65,94.8,11127384,11233,1165,10.4,3.07,1.8,1861,333,130,14,20.94
4,74474.98,67136.51,0.555,8010.3,95.9,7439615,42017,1592,3.8,9.44,1.7,7290,1370,556,116,17.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,95867.34,92155.89,0.542,6630.45,NaN,1958702,57813,2575,4.5,7.96,2,8200,1740,346,136,9.78
167,92120.11,89952.74,0.618,8663.99,94.8,1166745,52852,2521,4.8,8.8,1.9,8708,2298,511,94,14.07
168,92120.11,60752.47,0.596,7895.55,91.5,716719,32956,1558,4.7,6.4,1.9,5296,1685,361,72,10.89
169,92120.11,62014.71,0.57,8444.18,NaN,1193385,31520,2098,6.7,6.57,2,4563,1367,375,67,16.24
170,92120.11,84989.72,0.595,8779.78,96.2,2140109,52190,3225,6.2,11.31,1.7,7021,1852,483,154,19.89

In [ ]:
target

0      0.6772
1      0.2418
2       0.387
3      0.4069
4      0.3227
        ...
166     0.297
167    0.3078
168     0.433
169    0.3137
170    0.5691
Name: IFGF, Length: 171, dtype: object

In [ ]:
features_tensor = tf.constant(features.values.astype(np.float32))
target_tensor = tf.constant(target.values.astype(np.float32))

In [ ]:
dataset = tf.data.Dataset.from_tensor_slices((features_tensor, target_tensor))

dataset